 <ul>
        {{#each artistsearch }}
         <img src="{{this.images.[1].url}}" class="card-img-top" alt="...">
          <p> {{ this.name }} </p>
          <p>{{ this.popularity }} </p> 
          <button type="submit" class="btn btn-danger"> <a href="/albums/:artistId"> View Almbums </a></button>
        {{/each }}
    </ul>
       


