<div>
   <form method="GET" action="/artistsearch">
        <div class="form-group">
            <label form="artistsearch"> Search for an Artist</label>
            <input name="artistsearch" type="text" class="form-control" id="artistsearch" />
        </div>
        </form>


</div>